
    body {
        font-family: Helvetica, Arial, sans-serif;
        color: #333;
        background-color: #fff;
        margin: 0 auto; /* Center the body */
        max-width: 1200px; /* Limit the body width */
        padding: 0 20px; /* Add padding to the sides */
    }
    header {
        text-align: center;
        padding: 20px;
    }
    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }
    section {
        padding: 10px 20px;
        text-align: left;
    }
    table {
        margin: 0 auto;
        border-collapse: collapse;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added drop shadow */
        border-radius: 8px; /* Added border radius */
        border: 1px solid #ccc; /* Added border */
    }
    table, th, td {
        border: 1px solid #333;
        padding: 10px;
    }
    li{
        text-align: left;
        font-size: 20px; 
        font-style: italic; 
        padding-bottom: 10px; 
        padding-top:30px;
    }